# Godot 4+ specific ignores
.godot/
/android/
/cellular-automaton/
Cellular Automata.csproj
Cellular Automata.csproj.old.3
.vscode/
/data_Cellular Automata_linuxbsd_x86_64
Cellular Automata.pck
Cellular Automata.x86_64
